importFrom(stats, 
           p.adjust)

importFrom(grDevices,
           pdf, 
           dev.off)

importFrom(graphics, 
           image,
           hist, 
           segments, 
           rect, 
           polygon, 
           matplot, 
           matlines,           
           plot,
           lines,           
           abline,
           points,
           axis,
           axTicks,
           title,
           mtext,
           legend,
           layout,
           par,
           locator,
           plot.new,
           plot.window)

importFrom(globaltest,  
           gt.options, 
           gt, 
           size, 
           p.value)

importMethodsFrom(globaltest, 
                  summary)

importFrom(quantsmooth, 
           quantsmooth)

export(assemble.data, 
       integrated.analysis, 
       sim.plot.pvals.on.genome, 
       tabulate.pvals,
       sim.plot.pvals.on.region, 
       sim.plot.zscore.heatmap,       
       sim.plot.overlapping.indep.dep.features, 
       tabulate.top.dep.features, 
       tabulate.top.indep.features, 
       sim.update.chrom.table,
       sim.plot.zoom.in, 
       link.metadata, 
       RESOURCERER.annotation.to.ID,
       impute.nas.by.surrounding, 
       getoverlappingregions)
       
       
       
