importMethodsFrom(globaltest, p.value, size)

importFrom(globaltest, gt, gt.options)

importFrom(graphics, abline, axis, axTicks, box, hist, image, layout,
           legend, lines, locator, matlines, matplot, mtext, par, plot,
           plot.new, plot.window, points, polygon, rect, segments,
           strwidth, title)

importFrom(grDevices, colorRampPalette, dev.new, dev.off, pdf, rainbow)

importFrom(quantsmooth, quantsmooth)

importFrom(stats, aggregate, median, na.omit, p.adjust)

importFrom(utils, data, flush.console, type.convert, write.table)

export(assemble.data, 
       integrated.analysis, 
       sim.plot.pvals.on.genome, 
       tabulate.pvals,
       sim.plot.pvals.on.region, 
       sim.plot.zscore.heatmap,       
       sim.plot.overlapping.indep.dep.features, 
       tabulate.top.dep.features, 
       tabulate.top.indep.features, 
       sim.update.chrom.table,
       sim.plot.zoom.in, 
       link.metadata, 
       RESOURCERER.annotation.to.ID,
       impute.nas.by.surrounding, 
       getoverlappingregions)
       
       
       